<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllController</servlet-name>
        <servlet-class>controller.GetAllController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControllerDM</servlet-name>
        <servlet-class>controller.SearchControllerDM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDMController</servlet-name>
        <servlet-class>controller.GetDMController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>controller.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNhomTK</servlet-name>
        <servlet-class>controller.GetNhomTK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController2</servlet-name>
        <servlet-class>controller.CreateController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController2</servlet-name>
        <servlet-class>controller.UpdateController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllController2</servlet-name>
        <servlet-class>controller.GetAllController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTaiKhoan</servlet-name>
        <servlet-class>controller.GetTaiKhoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControllerSL</servlet-name>
        <servlet-class>controller.SearchControllerSL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControllerTK</servlet-name>
        <servlet-class>controller.DeleteControllerTK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController3</servlet-name>
        <servlet-class>controller.UpdateController3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllController</servlet-name>
        <url-pattern>/GetAllController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControllerDM</servlet-name>
        <url-pattern>/SearchControllerDM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDMController</servlet-name>
        <url-pattern>/GetDMController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNhomTK</servlet-name>
        <url-pattern>/GetNhomTK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController2</servlet-name>
        <url-pattern>/CreateController2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController2</servlet-name>
        <url-pattern>/UpdateController2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllController2</servlet-name>
        <url-pattern>/GetAllController2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTaiKhoan</servlet-name>
        <url-pattern>/GetTaiKhoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControllerSL</servlet-name>
        <url-pattern>/SearchControllerSL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControllerTK</servlet-name>
        <url-pattern>/DeleteControllerTK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController3</servlet-name>
        <url-pattern>/UpdateController3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>GetAllController</welcome-file>
    </welcome-file-list>
</web-app>
